<div class="col-xl-6 col-md-12">
    <div class="card table-card">
        <div class="card-header">


            <h1>Bienvenido a CircAdmin</h1>
            <p>Este será tu panel principal.</p>
        </div>
    </div>
</div>