
<li class="nav-item pcoded-hasmenu">
    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
    <ul class="pcoded-submenu">
        <li><a href="index.html">Default</a></li>
        <li><a href="dashboard-sale.html">Sales</a></li>
        <li><a href="dashboard-crm.html">CRM</a></li>
        <li><a href="dashboard-analytics.html">Analytics</a></li>
        <li><a href="dashboard-project.html">Project</a></li>
    </ul>
</li>