<li class="nav-item pcoded-hasmenu">
    <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">User</span></a>
    <ul class="pcoded-submenu">
        <li><%= link_to "Mi Perfil", profile_path, class: "dropdown-item" %>
</li>
        <%# <li><a href="user-card.html">User Card</a></li>
        <li><a href="user-list.html">User List</a></li> %>
    </ul>
</li>