<!-- app/views/errors/not_found.html.erb -->
<h1>Página no encontrada (404)</h1>
<p>Lo sentimos, pero la página que buscas no existe.</p>
<%= link_to "Volver al inicio", root_path, class: "btn btn-primary" %>
