<script>
    document.addEventListener("turbo:load", function () {
    const moreDetails = document.getElementById("more-details");
    const navUserLink = document.getElementById("nav-user-link");

    if (moreDetails && navUserLink) {
        moreDetails.addEventListener("click", function () {
        navUserLink.classList.toggle("show");
        });
    }
    });


</script>


<div class="">
    <div class="main-menu-header">
        
        <%# <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="User-Profile-Image"> %>
        <div class="user-details">

            <div id="more-details"><%= t("home.greeting", email: current_user.email) %><i class="fa fa-caret-down"></i></div>
        
        </div>
    </div>
    <div class="collapse" id="nav-user-link">
        <ul class="list-inline">

            <li class="list-inline-item">
                
                <%# a href="user-profile.html" data-toggle="tooltip" title="View Profile"%>
              <% if current_user.user_profile.present? %>
                <%= link_to user_profile_path(current_user.user_profile), title: t("user_profiles.show.title") do %>
                    <i class="feather icon-user"></i>
                <% end %>

            <% else %>
                <%= link_to new_user_profile_path, title: t("user_profiles.show.title") do %>
                    <i class="feather icon-user"></i>
                <% end %>
            <% end %>

            </li>
            <li class="list-inline-item"><a href="email_inbox.html"><i class="feather icon-mail" data-toggle="tooltip" title="Messages"></i><small class="badge badge-pill badge-primary">5</small></a></li>
            
             <li class="list-inline-item">
                <%= button_to destroy_user_session_path, method: :delete, class: "btn text-danger", title: t("devise.logout"), form: { data: { turbo: false }, class: "d-inline" } do %>
                    <i class="feather icon-power"></i>
                <% end %>
            </li>

        </ul>
    </div>
</div>



<style>

  

    #nav-user-link {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        max-height 0.4s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
    }

    #nav-user-link.show {
    max-height: 300px; /* ⚠️ debe ser mayor al contenido interno */
    opacity: 1;
    transform: translateY(0);
    }

</style>
