<!-- [ navigation menu ] start -->

<nav class="pcoded-navbar menu-light ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">			
			<%= render 'shared/dashboard/template_nav_menu/header'%>
			<%= render 'shared/dashboard/template_nav_menu/inner_nav' %>
		
		</div>
	</div>
</nav>
	<!-- [ navigation menu ] end -->


